@model Category
@{
    string action = ViewBag.Action ?? string.Empty;
}

<form method="post" asp-controller="categories" asp-action="@action">
    @if (action?.ToLower() == "edit")
    {
        <!--action="/categories/edit", bet geriau naudotis tech helpers ir apirezti kontroleri ir action atskirai, kaip ir padaryta-->
        <!-- Hidden field that will be passed when the form is submitted but not visible to the user -->
        <input type="hidden" asp-for="CategoryId" />
    }

    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="Name" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="col">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="Description" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Description" class="form-control" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <input type="submit" class="btn btn-primary" value="save" />
        </div>
        <div class="col-6">
        </div>
    </div>

</form>